// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.half-width {
    width: 50%;
}

.img-logo {
    max-height: 300px;
    margin: 0 auto 20px auto;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.outer-container {
    margin: 0 auto;
    min-height: 650px;
}

.inner-container {
    min-height: 450px;
}

.btn-welcome {
    width: 30%;
    margin: 0 auto;

    .btn-welcome-text {
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .img-logo {
        max-width: 70%;
    }

    .btn-welcome {
        width: 50%;
    }
}