// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// General Styles
* {
    box-sizing: border-box;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

// Flexbox Styles
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

// Containers
.outer-container {
    position: relative;
    height: 650px;
    max-width: 650px;
}

.inner-container {
    width: 85%;
}

// Margins
.margin-auto {
    margin: 0 auto;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-30 {
    margin-top: 30px;
}

// Buttons & Navbar
.btn-welcome-container {
    margin-top: 400px;

    .btn-welcome {
        width: 50%;
        margin: 10px auto 0 auto;

        .btn-light-text {
            color: white;
            text-decoration: none;
            font-size: 1.1rem;
        }
    }
}

.navbar-toggler, .dropdown-menu {
    border: none;
}

.desktop-box-shadow {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

// Welcome Page
.img-logo-circle {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    animation: rotation 2s ease-in-out;
}

.img-logo-text {
    position: absolute;
    left: 0;
    right: 0;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    top: 180px;
}

.message {
    font-size: 1.1rem;
    text-align: center;
}

// Order Form
.input-label {
    font-size: 1rem;
}

.input-width {
    width: 70%;
}

// Order View
.order-title {
    text-decoration: none;
}

// Wheel Rotation Animation
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

// Media Queries
@media (max-width: 768px) {
    .desktop-box-shadow {
        box-shadow: none;
    }

    // Welcome Page
    .img-logo-circle {
        height: 250px;
        width: 250px;
    }
    
    .img-logo-text {
        width: 310px;
        top: 150px;
    }

    .btn-welcome-container {
        margin-top: 350px;
    }

    // Order Form
    .form-input {
        flex-direction: column;
    }

    .input-width {
        width: 100%;
    }

    // Order View
    .order-title {
        font-size: 1.1rem;
    }
}